<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <section class="contenedor">
            <div class="contenedor-logo">
                <a href="/" class="logo"><img src="img/logo-mercado-liebre.svg" class="logo_img"></a>
                <form class="formulario" id="search-bar" action="">
                    <input class="input" type="text" placeholder="¿Qué Desea Buscar?...">
                    <button class="boton" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <p class="cuota"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </section>
        <nav class="navegacion">
            <ul id="top">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <form class="formulario-login">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre De Usuari@">
            <input type="password" name="password" id="password" placeholder="Colocá Tu Contraseña">
            <button type="menu"><a href="/">Enviar</a></button>
        </form>
    </main> 
    <section>
        <footer>
            <div class="articulo">
                <section class="articulo-f">
                    <i class="fas fa-credit-card"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                        ¡Y siempre es seguro!
                </section>
                <section class="articulo-f">
                    <i class="fas fa-gift"></i>
                    <h5>Envío gratis desde $ 2.500</h5>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de Mercado Puntos.</p>
                </section>
                <section class="articulo-f">
                    <i class="fas fa-user-shield"></i>
                    <h5>Seguridad, de principio a fin</h5>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                        siempre
                        protegid@.</p>
                </section>
            </div>
            <p class="copyright">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </section>
</body>
</html>