/* FOOTER */
footer {
    padding-top: 40px;
    background-color: white;
}

footer .articulo {
    margin-bottom: 40px;
}

footer .articulo .articulo-f {
    text-align: center;
    margin-bottom: 50px;
}

footer .articulo .articulo-f i {
    color: var(--celeste);
    font-size: 32px;
    margin-bottom: 15px;
}

footer .articulo .articulo-f i:hover {
    color: #4d79bb;
}

footer .articulo .articulo-f h5 {
    font-size: 16px;
}

footer .articulo .articulo-f p {
    font-size: 12px;
    width: 77%;
    margin: 0 auto;
    color: var(--gris-oscuro);
}

footer .copyright {
    color: var(--gris-oscuro);
    font-size: var(--paragraph);
    margin: 0 0 10px 15px;
}


