header {
    background-color: var(--amarillo);
    font-size: var(--parrafo);
    padding-bottom: 10px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

header .contenedor-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header .contenedor-logo .logo {
    width: 30%;
    padding-top: 25px;
    margin-top: -20px;
}

header .contenedor-logo .logo_img{
    margin-top: 20px;
}

header .contenedor-logo .formulario{
    margin-top: 20px;
}

header .contenedor .contenedor-logo .formulario .input {
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline: none;
}

header .contenedor .contenedor-logo .formulario .boton{
    margin-left: -20px;
    color: gray;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 7px;
}

header .contenedor .contenedor-logo #search-bar {
    display: flex;
    margin-left: 5px; 
}

header .contenedor .cuota {
    text-align: center;
    margin: 40px 0 20px;
}

header .menu-hamburguesa {
    display: none;
    background-color: var(--celeste);
    color: #fff;
    width: 25px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto 0;
    margin-bottom: 5px;
    cursor: pointer;
}

header nav ul#top {
    margin-bottom: 25px;
}

@media (min-width:320px) and (max-width:761px){

    header .menu-hamburguesa {
        display: flex;
    }

    header .logo {
        width: 50%;
        margin-right: 5px;
        display: flex;
        justify-content: center;
    }

    header .contenedor-logo .formulario input {
        width: 150px;
    }

    header i {
        align-self: center;
    }

}

@media (min-width: 762px) {
    .contenedor-logo {
        width: 65%;
        margin-right: 25px;
    }

    .navegacion {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
        align-items: flex-end;
    }

    .contenedor {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    header ul#top {
        margin-bottom: 0;
    }
    
    .navegacion ul {
        display: flex;
        width: 30%;
        justify-content: space-evenly;
    }
    
    .cuota {
        width: 35%;
    }
}

@media (min-width: 762px) and (max-width: 1000px) {
    .contenedor-logo {
        width: 65%;
        margin-right: 25px;
    }

    .navegacion {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
        align-items: flex-end;
    }

    .contenedor {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    header ul#top {
        margin-bottom: 0;
    }
    
    .navegacion ul {
        display: flex;
        width: 30%;
        justify-content: space-evenly;
    }
    
    .cuota {
        width: 35%;
    }
}


@media (min-width: 1280px){

    header .contenedor-logo .formulario input {
        width: 250px;
    }

}