nav {
    display:none;
}

.home {
    width: 90%;
    margin: 0 auto; 
}

.home .titulo-de-seccion {
    margin: 25px 0;
    color: var(--gris-oscuro);
    text-align: center;
}

.home .contenedor-articulo .contenedor-tarjetas {
    margin-bottom: 10px;
}

.home .contenedor-articulo .contenedor-tarjetas .tarjetas {
    margin-bottom: 10px;
}

.home .contenedor-articulo .contenedor-tarjetas .tarjetas .contenido {
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    position: relative;
}

.home .contenedor-articulo .contenedor-tarjetas .camion {
    border: 1px solid var(--verde);
    border-radius: 50%;
    width: fit-content;
    padding: 5px;
    position: absolute;
    top: -15px;
    right: 20px;
}

.home .contenedor-articulo .contenedor-tarjetas .camion i {
    color: var(--verde);
    font-size: 16px;
}

.home .contenedor-articulo .contenedor-tarjetas .camion i:hover{
    transform: rotate(-90deg);
    transition: 1.2s ;
}

.home .contenedor-articulo .contenedor-tarjetas .informacion {
    display: flex;
    padding-top: 5px;
}

.home .contenedor-articulo .contenedor-tarjetas .informacion .precio{
    flex-grow: 0.05;
}

.home .contenedor-articulo .contenedor-tarjetas .informacion .descuento{
    color: var(--verde);
    font-size: 14px; 
}

.home .contenedor-articulo .contenedor-tarjetas .nombre {
    color: var(--gris-oscuro);
    font-size: 15px;
    margin-top: 15px;
    display: none;
}

.tarjetas {
    background-color: white;
}

@media (min-width:461px) {
    .home  {
        width: 90%;
    }

    .home article img {
        width: 100%;
    }

    .home article .precio {
        font-size: 14px;
    }

    .home article .descuento {
        font-size: 10px;
        margin-left: 20px; 
    }

   .contenedor-tarjetas{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tarjetas {
        width: 45%;
    }

    .home .contenedor-articulo .contenedor-tarjetas .nombre {
        color: var(--gris-oscuro);
        font-size: 15px;
        margin-top: 15px;
        display: flex;
    }
}

@media (min-width:769px) {
    .nombre {
        display: none;
    }
    
    .contenedor {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .contenedor-tarjetas {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tarjetas {
        width: 23%;
    }

    .navegacion {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 40px;
        align-items: flex-end;
    }

    .navegacion ul {
        display: flex;
        width: 30%;
        justify-content: space-evenly;
    }

    .navegacion ul#top {
        margin-bottom: 0;
    }

    .home .contenedor-articulo .contenedor-tarjetas .tarjetas {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home .contenedor-articulo .contenedor-tarjetas .nombre {
        color: var(--gris-oscuro);
        font-size: 15px;
        margin-top: 15px;
        display: flex;
    }

    .menu-hamburguesa {
        display: none;
    }
}