.formulario-registro {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 20px 40px;
}

.formulario-registro input {
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 7px;
}

p {
    display: flex;
    justify-content: center;
}

.radio {
    display: flex; 
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.radio label, 
.radio input {
    margin: 10px;
}


.categorias {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formulario-checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.checkbox {
    display: flex;
    margin-bottom: 15px;
}

.checkbox input,
.checkbox p {
    margin: 10px;
}

.checkbox:first-child {
    margin-top: 15px;
}

.boton-registro {
    border: none;
    background-color: var(--celeste);
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.boton-registro:hover {
    background-color: #0022AA;
}

.boton-registro a {
    color: white;
}